@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text');

* {
  font-family: 'Red Hat Text';
}

.App {
  height: 100vh !important;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #43484d;
  /*colorsLogo:  100: #be8eae  85: #c89fba  70: #d1b0c6  55: #dbc1d3  40: #e5d2df  25: #efe3eb  10: #f8f3f7
    colorError: #e0433f
    colorSuccess: #42ae70
    colorGrey: #43484d #6a7077 #a2a6ac #ced4da
  */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
