/*btn-filter*/
.btn-filter {
  height: 6vh;
  width: 6vh;
  margin: 0 1vh;
  border: solid 1px;
  border-radius: 50%;
  border-color: #be8eae;
  font-weight: 700
}

.btn-filter:hover {
  box-shadow: 0 0 0 0.4vh #efe3eb;
}

.btn-filter:focus {
  outline: none
}

.btn-filter-on {
  color: white;
  background-color: #c89fba;
}

.btn-filter-off {
  color: #be8eae;
  background-color: white;
}